.demo-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.demo-wrapper .top-part {
    height: 150px;
}
.demo-wrapper .top-part button.selected {
    background-color: lightgreen;
}
.demo-wrapper .trace-chart-part {
    height: calc(100vh- 150px);
}
