.ttc-wrapper {
    overflow: auto;
    font-family: -apple-system;
    background-color: #fff;
    color: #333;
}
.ttc-wrapper .timeline-span:hover {
    background: #ccc;
}
.ttc-wrapper .timeline-span.selected-span {
    background: #eee;
}
.ttc-wrapper .timeline-span.insignificant-span {
    opacity: 0.3;
}
.ttc-wrapper .timeline-span.erroneous-span {
    background: rgba(255, 0, 0, 0.2);
}
