.ttc-wrapper {
    overflow: auto;
    font-family: 'Inter';
    background-color: #0e1216;
    color: #dcdfe5;
}
.ttc-wrapper .timeline-span:hover {
    background: #161b22;
}
.ttc-wrapper .timeline-span.selected-span {
    background: #161b22;
}
.ttc-wrapper .timeline-span.insignificant-span {
    opacity: 0.3;
}
.ttc-wrapper .timeline-span.erroneous-span {
    background: rgba(255, 0, 0, 0.2);
}
